body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px !important;
}
#controls i:hover{
    cursor: pointer;

}
#progress .times, .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer .volume-container{
    display: flex;
    align-items: center;
    gap: .3rem;
}
li:hover{
    cursor: pointer;
}
li.playing{
    background-color: #0b5eb7;
    color: #fff;
}