body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
}
#controls i:hover{
    cursor: pointer;

}
#progress .times, .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer .volume-container{
    display: flex;
    align-items: center;
    gap: .3rem;
}